# Maven / Java
target/
/target/
**/target/**
/logs/
/bin/
**/bin/
/bin
/.settings/
.settings/
**/.settings/**
*.log
*.class

# IDE / Eclipse / STS / IntelliJ
/.idea
*.iml
*.classpath
*.project
/.metadata

# OS files
.DS_Store
Thumbs.db

# Build artifacts
*.jar
*.war
*.ear