# Maven / Java
/target/
/logs/
/bin/
**/bin/
/bin
**/.settings/
*.log
*.class

# IDE / Eclipse / STS / IntelliJ
/.idea
*.iml
*.classpath
*.project
/.metadata

# OS files
.DS_Store
Thumbs.db

# Build artifacts
*.jar
*.war
*.ear